@import '~styles/theme-colours';

$tile-height: 150px;

.tile-link {
  text-decoration: none;
}

.tile {
  align-items: center;
  border: 1px solid darken(#fff, 2);
  border-radius: 5px;
  display: flex;
  height: $tile-height;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}
