.import-confirmation-content {
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.settings-warning {
  color: #f00;
  text-align: center;
  width: 100%;
}

.settings-valid {
  color: #259b24;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
