@import '~styles/theme-colours';
@import '~styles/common-elements';

.settings-content-container {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 100%;
}

.settings-import-container {
  @include flex-column-parent();
}

.settings-filename {
  align-self: center;
  margin-top: 15px;
}

.settings-warning {
  color: colour('warning-red');
  text-align: center;
  width: 100%;
}

.modal-save-button-disabled {
  @include button(100px, 30px, false);
  background-color: darken(colour('white'), 2);

  &:hover {
    background-color: darken(colour('white'), 2);
  }

  &:active {
    background-color: darken(colour('white'), 2);
  }
}
