@import '~styles/theme-colours';
@import '~styles/common-elements';

body {
  font-family: 'Open Sans', 'Ubuntu', sans-serif;
}

.newtab {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}

.background-image {
  bottom: 0;
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  opacity: 0;
}

.fade-in {
  animation: fadein 1s ease forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.unsplash-credit {
  bottom: 10px;
  color: #fff;
  position: absolute;
  right: 20px;
}

.unsplash-credit a {
  color: darken(#fff, 1);
  text-decoration: none;
}
