@import './theme-colours';

$sidebar-width: 18%;
$column-width-percentage: 92%;

@mixin button($width, $height, $highlight) {
  $background: if($highlight, colour('highlight'), colour('white'));
  background-color: $background;
  border: 1px solid
    if($highlight, colour('highlight'), darken(colour('white'), 2));
  border-radius: 2px;
  color: if($highlight, colour('white'), colour('grey-dark'));
  cursor: pointer;
  display: block;
  height: $height;
  line-height: $height;
  padding: 0;
  text-align: center;
  width: $width;

  &:hover {
    background-color: darken($background, 1);
  }

  &:active {
    background-color: darken($background, 2);
  }
}

@mixin flex-row-parent() {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-child() {
  flex: 1;
  justify-content: space-between;
}

@mixin flex-column-parent() {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-child() {
  flex: 1;
}

@mixin icon() {
  height: 80%;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 80%;
}

@mixin form-label() {
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 10px;
  width: 100%;
}

.header {
  border-bottom: 1px solid darken(colour('white'), 1);
  font-size: 1.25rem;
  height: auto;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.form-label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 10px;
  width: 100%;
}

.text-input {
  border: 1px solid darken(colour('white'), 1);
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 12px 20px;
  width: 100%;

  &:focus {
    border-color: colour('grey-dark');
    outline: none;
  }

  &:hover:not(:focus) {
    border-color: darken(colour('white'), 2);
    transition: border-color 0.2s;
  }
}

.modal-end-buttons {
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 40px);
}

.modal-save-button {
  @include button(100px, 30px, true);
}

.modal-cancel-button {
  @include button(100px, 30px, false);
}

.file-button {
  @include button(100px, 30px, false);
  align-self: center;
  margin-top: 5px;
}
