@import './theme-colours';

@mixin button($width, $height, $highlight) {
  $background: if($highlight, colour('highlight'), #fff);
  background-color: $background;
  border: 1px solid lighten(colour('grey-light'), 1);
  border-radius: 2px;
  color: if($highlight, #fff, colour('grey-dark'));
  cursor: pointer;
  display: block;
  height: $height;
  line-height: $height;
  text-align: center;
  width: $width;

  &:hover {
    background-color: darken($background, 1);
  }

  &:active {
    background-color: darken($background, 2);
  }
}
