@import '~styles/theme-colours';
@import '~styles/common-elements';

.colour-config-container {
  @include flex-column-parent();
  border-color: darken(#fff, 1);
  border-radius: 2px;
  border-style: solid;
  border-width: 0 1px 1px;
  margin-top: -10px;
}

.colour-config-top {
  @include flex-column-child();
  height: 150px;
}

.colour-config-select-container {
  @include flex-row-parent();
  height: 100%;
}

.colour-config-select {
  @include flex-row-child();
  height: 100%;
}

.colour-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  padding-top: 15px;
  width: 100%;
}

.colour-favicon-container {
  @include flex-row-child();
  height: 100%;
}

.colour-favicon-select {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.colour-config-bottom {
  @include flex-column-child();
  height: 150px;
}

.colour-config-preview {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: calc(100% - 1px);
}
