@import '~styles/theme-colours';
@import '~styles/common-elements';

.gradient-config-container {
  @include flex-column-parent();
  border-color: darken(#fff, 1);
  border-radius: 2px;
  border-style: solid;
  border-width: 0 1px 1px;
  margin-top: -10px;
}

.gradient-config-top {
  @include flex-column-child();
  height: 150px;
}

.gradient-select-container {
  @include flex-row-parent();
  height: 100%;
}

.gradient-colour-select,
.gradient-detail-select {
  @include flex-row-child();
  height: 100%;
}

.gradient-config-dropdown-container {
  display: inline-block;
  height: 24px;
  width: 80px;
}

.gradient-colours-container,
.gradient-details-container {
  @include flex-column-parent();
  align-items: center;
  height: 80%;
  justify-content: space-around;
  padding-top: 15px;
  width: 100%;
}

.gradient-config-form-label {
  @include form-label();
}

.gradient-config-bottom {
  @include flex-column-child();
  height: 150px;
}

.gradient-config-preview {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: calc(100% - 1px);
}
