@import '~styles/theme-colours';
@import '~styles/common-elements';

.link-config-form-label {
  @include form-label();
}

.link-config-text-input {
  border: 1px solid darken(#fff, 1);
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 12px 20px;
  width: 100%;

  &:focus {
    border-color: colour('grey-dark');
    outline: none;
  }

  &:hover:not(:focus) {
    border-color: darken(#fff, 2);
    transition: border-color 0.2s;
  }
}
