@import '~styles/theme-colours';

.text-config-container {
  align-items: center;
  border: 1px solid darken(colour('white'), 1);
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 100px;
  justify-items: center;
}

.font-colour-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.font-size-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.font-size-dropdown-container {
  display: inline-block;
  height: 24px;
  width: 46px;
}

.favicon-config-container {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  height: 24px;
}

.favicon-config-select {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
