@import '~components/grid/Tile';
@import '~styles/common-elements';

.draggable-tile {
  margin-bottom: 20px;
}

.remove-tile {
  @include button(30px, 30px, false);
  position: absolute;
  right: 5px;
  top: 5px;
}

.edit-tile {
  @include button(30px, 30px, false);
  position: absolute;
  right: 40px;
  top: 5px;
}
