@import '~styles/common-elements';

.editable-container {
  height: 100%;
  margin-left: $sidebar-width;
  width: 100% - $sidebar-width;
}

.editable-grid {
  display: flex;
  height: 70%;
  margin: 15% auto 0;
  width: 70%;
}
