@import '~components/grid/Column';
@import '~styles/common-elements';

.handle,
%handle {
  border: 1px solid darken(#fff, 2);
  border-radius: 5px;
  margin: 10px 10px 0;
  min-height: 40px;
  position: relative;
  width: $column-width-percentage;

  &:hover {
    background-color: darken(#fff, 1);
  }
}

.handle-dragging {
  @extend %handle;
  background-color: darken(#fff, 1);
}

.remove-column {
  @include button(30px, 30px, false);
  position: absolute;
  right: 5px;
  top: 5px;
}
