@import '../../styles/theme-colours';
@import '../../styles/common-elements';

.toggle-sidebar {
  @include button(30px, 30px, false);
  left: 10px;
  position: absolute;
  top: 10px;
}

.sidebar {
  background: colour('grey-dark');
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 18%;
}

.sidebar-function {
  @include button(80%, 50px, false);
  margin: 10px auto;
}
