@import '~styles/theme-colours';
@import '~styles/common-elements';

.editor-container {
  height: auto;
}

.header {
  border-bottom: 1px solid darken(#fff, 1);
  font-size: 1.25rem;
  height: auto;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.editor-end-buttons {
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 40px);
}

.editor-cancel-button {
  @include button(100px, 30px, false);
}

.editor-save-button {
  @include button(100px, 30px, true);
}
